body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:#161618 ;
  }

  html {
    scroll-behavior: smooth;
  }

  .white-space {
    width: 100%;
    height: 90px;
    background-color: #161618;
    margin-top: 5px;
    margin-bottom: 5px;
  }

#head {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#brand img {
  font-weight: bold;
  max-width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#hero-section {
    position: relative;
    height: 100%;
}

.hero-img {
    background: url(images/me.png);
    width: 300px;
    height: 350px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-section > h2 {
    color: white;
    font-size: 2.25rem;
    font-weight: normal;
    text-transform: uppercase;
}

#hero-section > h3 {
    color: white;
    font-weight: normal;
    text-transform: lowercase;
    opacity: .7;
    font-size: 1rem;
}

.work-gallery {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.project {
    background-color: blue;
    border-radius: 20px;
    width: 75vw;
    height: 300px;
    position: relative;
}

.projectImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.first {
    background: url(images/photovoltaicWeb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.second {
    background: url(images/wind.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.third {
    background: url(images/clubul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth {
    background: url(images/mdr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.view-project {
    border-style: none;
    padding: 10px 40px 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    right: 20px;
    overflow: hidden;
    background: linear-gradient(to right, #FFFFFF 50%, #FFC700 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s;
}

.view-project:hover {
    background-position: left bottom;
    cursor: pointer;
}

.material-symbols-outlined.trending-flat {
    position: absolute;
    animation: moveBackAndForth 1.5s linear infinite;
}

@keyframes moveBackAndForth {
    0%, 100% {
        right: 10px;
    }
    50% {
        right: 3px;
    }
}

footer {
    height: 35vh;
    position: relative;
}

#hreniuc {
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}